/* index.css */
@import "tailwindcss";

/* make `dark:` respond to .dark on <html> */
@custom-variant dark (&:where(.dark, .dark *));
/* <-- add this line */

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Light defaults (brand) */
  background-color: var(--brand-bg);
  color: var(--brand-text);

  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll infinite;
  animation-duration: 30s;
  /* Adjust as necessary */
}